build/
dist/
debug/
_build/
out/
.generated_files/
nbproject/private/
nbproject/Makefile-*
nbproject/Package-*
*.log
*.inx
.vscode/*
!.vscode/extensions.json
!cmake/**/user.cmake
!nbproject/configurations.xml
nbproject/
Makefile*
Package-*
private/
cmake/**/.generated/*
cmake/**/CMake*
!.vscode/extensions.json
